name: DevSync Daily Commit

on:
  schedule:
    - cron: '15 9 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "23f2002971@ds.study.iitm.ac.in"

      - name: 23f2002971@ds.study.iitm.ac.in automated commit step
        run: |
          echo "Update run at $(date)" >> devsync-log.txt
          git add devsync-log.txt
          git commit -m "DevSync automated daily commit $(date)" || echo "No changes"
          git push
